/* @import './base.css'; */

#app {
  max-width: 1280px;
  margin: 50px auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(1, 156, 218);
  transition: 0.4s;
  padding: 3px;
}

a:disabled {
  background-color: none;
  cursor: auto;
}
@media (hover: hover) {
  a:hover {
    background-color: rgba(1, 157, 218, 0.205);
    cursor: pointer;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
  
  #app {
    width: 30%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
  }
}
